<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glowing Navbar</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="menu">
      <input type="radio" id="home" name="home" />
      <input type="radio" id="user" name="home" />
      <input type="radio" id="heart" name="home" />
      <input type="radio" id="gear" name="home" />
      <input type="radio" id="notification" name="home" />
    </div>

    <div class="btns">
      <label for="user">
        <i class="fa-solid fa-user"></i>
      </label>
      <label for="heart">
        <i class="fa-solid fa-heart"></i>
      </label>
      <label for="gear">
        <i class="fa-solid fa-gear"></i>
      </label>
      <label for="home">
        <i class="fa-solid fa-house"></i>
      </label>
      <label for="notification"> <i class="fa-solid fa-bell"></i> </label>
    </div>
  </body>
</html>
