<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Object Fit</title>
    <link rel="stylesheet" href="object_fit.css" />
  </head>
  <body>
    <div class="one">
      <img src="image/furniture/pexels-eric-mufasa-1350789.jpg" alt="" />
      <h1>Product one</h1>
    </div>
    <div class="two">
      <img src="image/furniture/pexels-evg-kowalievska-1148955.jpg" alt="" />
      <h1>Product two</h1>
    </div>
    <!-- ul>li*5{$ hello there} -->
    <ul>
      <li>1 hello there</li>
      <li>2 hello there</li>
      <li>3 hello there</li>
      <li>4 hello there</li>
      <li>5 hello there</li>
    </ul>
    <!-- .two#id{emmet} -->
    <!-- <div class="two" id="id">emmet</div>     -->
  </body>
</html>
