<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Z Index</title>
    <link rel="stylesheet" href="z-index.css" />
  </head>
  <body>
    <div class="banner">
      <img src="retro.jpg" alt="" class="one" />
      <img src="pexels-elviss-railijs-bitāns-1389429.jpg" alt="" class="two" />
      <img
        src="image/pexels-ashutosh-sonwani-1762578.jpg"
        alt=""
        class="three"
      />
    </div>
    <p>Simple Paragraph!</p>
  </body>
</html>
